flows (1).json
[{"id":"c187f1dd.22b74","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fe1ff9ec.338058","type":"ibmiot","name":"AirpollutionIOT","keepalive":"60","serverName":"ef5o1a.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"e0b35563.cd8668","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"cb81e809.7e7aa8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f37edf92.3e389","type":"ui_group","name":"Default","tab":"e0b35563.cd8668","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1b11140.4e4ef","type":"inject","z":"c187f1dd.22b74","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"c187f1dd.22b74","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"d4e0d5d8.891ac8","type":"ibmiot in","z":"c187f1dd.22b74","authentication":"apiKey","apiKey":"fe1ff9ec.338058","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1282","applicationId":"","deviceType":"AirpollutionIOT","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":360,"wires":[["470338e3.5c3a18","71a85e20.36b6f","de8d4266.3d235","16d39744.7d4ed9","3453fb07.70e034","c570ca29.64fe38"]]},{"id":"470338e3.5c3a18","type":"debug","z":"c187f1dd.22b74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":280,"wires":[]},{"id":"fa525283.0da03","type":"ui_gauge","z":"c187f1dd.22b74","name":"","group":"f37edf92.3e389","order":1,"width":0,"height":0,"gtype":"gage","title":"Nitrogen","label":"ppm","format":"{{value}}","min":"100","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":440,"wires":[]},{"id":"21e3121d.96ba2e","type":"ui_gauge","z":"c187f1dd.22b74","name":"carbondioxide","group":"f37edf92.3e389","order":0,"width":0,"height":0,"gtype":"gage","title":"Carbondioxide","label":"ppm","format":"{{value}}","min":0,"max":"100","colors":["#08e708","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":320,"wires":[]},{"id":"d64fb373.ca97","type":"ui_gauge","z":"c187f1dd.22b74","name":"","group":"f37edf92.3e389","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"-20","max":"55","colors":["#00b500","#e6e600","#ba1c1c"],"seg1":"","seg2":"","x":590,"y":580,"wires":[]},{"id":"ccb4940d.7902a8","type":"ui_gauge","z":"c187f1dd.22b74","name":"","group":"f37edf92.3e389","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#34b8e5","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":660,"wires":[]},{"id":"71a85e20.36b6f","type":"function","z":"c187f1dd.22b74","name":"carbondioxide","func":"msg.payload=msg.payload.d.carbondioxide\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":340,"wires":[["21e3121d.96ba2e","5f4a7b29.605504"]]},{"id":"de8d4266.3d235","type":"function","z":"c187f1dd.22b74","name":"Nitrogen","func":"msg.payload=msg.payload.d.Nitrogen\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":480,"wires":[["fa525283.0da03","1da52d01.a74943"]]},{"id":"fd52c2dd.1538e","type":"function","z":"c187f1dd.22b74","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":0,"y":0,"wires":[[]]},{"id":"16d39744.7d4ed9","type":"function","z":"c187f1dd.22b74","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":580,"wires":[["d64fb373.ca97"]]},{"id":"3453fb07.70e034","type":"function","z":"c187f1dd.22b74","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":660,"wires":[["ccb4940d.7902a8"]]},{"id":"f125fdbe.796f","type":"ui_switch","z":"c187f1dd.22b74","name":"","label":"switch","tooltip":"","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":true,"onvalueType":"bool","onicon":"","oncolor":"","offvalue":false,"offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":0,"y":0,"wires":[[]]},{"id":"517b4449.8c345c","type":"ui_button","z":"c187f1dd.22b74","name":"","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":0,"y":0,"wires":[[]]},{"id":"3f635633.cd017a","type":"ui_button","z":"c187f1dd.22b74","name":"","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":0,"y":0,"wires":[[]]},{"id":"5a8f9c11.351f14","type":"ui_button","z":"c187f1dd.22b74","name":"Light ON","group":"f37edf92.3e389","order":4,"width":0,"height":0,"passthru":false,"label":"lighton","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"topic","topicType":"msg","x":160,"y":140,"wires":[["ec57f454.b9cbe8","19f1cc6.0cb1334"]]},{"id":"4fba62f1.ede85c","type":"ui_button","z":"c187f1dd.22b74","name":"light  off","group":"f37edf92.3e389","order":5,"width":0,"height":0,"passthru":false,"label":"lightoff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":160,"y":220,"wires":[["ec57f454.b9cbe8","19f1cc6.0cb1334"]]},{"id":"ec57f454.b9cbe8","type":"ibmiot out","z":"c187f1dd.22b74","authentication":"apiKey","apiKey":"fe1ff9ec.338058","outputType":"cmd","deviceId":"1282","deviceType":"AirpollutionIOT","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":420,"y":160,"wires":[]},{"id":"19f1cc6.0cb1334","type":"debug","z":"c187f1dd.22b74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":220,"wires":[]},{"id":"9fb63797.d2a8d8","type":"http request","z":"c187f1dd.22b74","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=29PazlmC6nJQHgFOYhqp0VXSysw4AkN8cL5U1r3MtvRfGoBbuIhkyXw01qFK9WA6xRJ2cSIeubzjDg5l&message=Carbondioxide%20exceed%20the%20limit%20&language=english&route=q&numbers=9014908050","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":380,"wires":[["3e2c00b8.42f4d"]]},{"id":"5f4a7b29.605504","type":"rbe","z":"c187f1dd.22b74","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":570,"y":380,"wires":[["53162195.fa4e7"]]},{"id":"53162195.fa4e7","type":"switch","z":"c187f1dd.22b74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":380,"wires":[["9fb63797.d2a8d8"]]},{"id":"3e2c00b8.42f4d","type":"debug","z":"c187f1dd.22b74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":440,"wires":[]},{"id":"1da52d01.a74943","type":"rbe","z":"c187f1dd.22b74","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":530,"y":520,"wires":[["993b22cb.7113"]]},{"id":"993b22cb.7113","type":"switch","z":"c187f1dd.22b74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"150","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":520,"wires":[["bddfaf30.e529"]]},{"id":"bddfaf30.e529","type":"http request","z":"c187f1dd.22b74","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=29PazlmC6nJQHgFOYhqp0VXSysw4AkN8cL5U1r3MtvRfGoBbuIhkyXw01qFK9WA6xRJ2cSIeubzjDg5l&message=Nitrogen%20exceed%20the%20limit%20&language=english&route=q&numbers=9014908050","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":520,"wires":[["79539419.4031fc"]]},{"id":"79539419.4031fc","type":"debug","z":"c187f1dd.22b74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":520,"wires":[]},{"id":"c570ca29.64fe38","type":"cloudant out","z":"c187f1dd.22b74","name":"","cloudant":"","database":"airpollutioniot","service":"node-red-meibb-2021--cloudant-1624639570518-14079","payonly":true,"operation":"insert","x":370,"y":400,"wires":[]}]